In [32]:
from pathlib import Path
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import json
import numpy as np
%matplotlib inline

In [2]:
dataFolder = Path.cwd().joinpath('Data')
df = pd.read_csv(dataFolder.joinpath('label.csv'))
df = df[['user_id', 'label']]  #removing unnecessary columns
df.head()

    user_id                                              label
0   3187755                                            unknown
1  12609678  public administration and social service profe...
2  41055794                 biological and biomedical sciences
3   8477334                                            unknown
4   1281279                                            unknown

In [3]:
df = df.drop_duplicates(keep='first') # drop duplicate rows but keep the ones with different label

In [4]:
userDf = pd.read_csv(dataFolder.joinpath('user_profile.csv'))
userDf = userDf[['user_id', 'gender', 'gpa']] #removing unnecessary columns
userDf.head()

    user_id  gender  gpa
0   8838926  female  3.6
1   1525079  female  3.5
2   4513255  female  3.0
3  23554544  female  2.7
4   3416751  female  2.2

In [5]:
userDf = pd.merge(df, userDf, on='user_id')
userDf.head()

    user_id                                              label  gender  gpa
0   3187755                                            unknown  female  3.3
1  12609678  public administration and social service profe...  female  3.8
2  41055794                 biological and biomedical sciences    male  3.2
3   8477334                                            unknown  female  3.4
4   1281279                                            unknown  female  3.5

In [6]:
with open(dataFolder.joinpath('bk_details.json'), 'r') as f:
    json_data = f.read()
data = json.loads(json_data)
booksDf = pd.DataFrame(data) #Convert JSON to DataFrame
booksDf["book_type"] = booksDf.book_subject_code.str[:3] #get book type by taking first 3 letters
booksDf.head()

,book_id,book_subject_code,book_title,book_type
0,22250675,EDU029000,Learning Disabilities and Related Mild Disabil...,EDU
1,42510,SCI055000,Physics for Scientists & Engineers (Chs 1-37),SCI
2,46792,ART000000,Drawing to See,ART
3,33143135,REL006000,Living God's Word,REL
4,34466221,HIS037000,Sources in Patterns of World History,HIS

In [7]:
booksDf = booksDf[booksDf.book_type.notnull()] #remove values where book type is not known

In [8]:
ordersDf = pd.read_csv(dataFolder.joinpath('user_bk_orders.csv'))
ordersDf =  ordersDf.loc[:, ~ordersDf.columns.str.contains('^Unnamed')] #removing unnecessary columns
ordersDf.head()

    user_id  book_id
0  35240460   132078
1  26215619    97411
2   1834930     7995
3  40157812    80721
4  41179202    56886

In [9]:
ordersDf = pd.merge(ordersDf, booksDf, on='book_id')
ordersDf.head()

    user_id  book_id book_subject_code             book_title book_type
0  35240460   132078         SCI015000               Big Bang       SCI
1  26215619    97411         PER010000    Voice and the Actor       PER
2   1834930     7995         PSY000000  Psychological Testing       PSY
3  40157812    80721         PHI000000                   Kant       PHI
4  41179202    56886         PHI000000                  Plato       PHI

In [10]:
countsDf = ordersDf[['user_id','book_type']].groupby(['user_id','book_type'])['book_type'].count().reset_index(name='counts')
countsDf = pd.pivot_table(countsDf, index='user_id', columns='book_type', values='counts', fill_value=0)
countsDf = countsDf.rename_axis(None, axis=1).reset_index()
countsDf.head()

,user_id,ARC,ART,BIB,BIO,BUS,CGN,CKB,COM,CRA,...,SCI,SEL,SOC,SPO,STU,TEC,TRA,TRU,TRV,YAN
0,1197529,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1197915,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1199673,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1199951,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1201529,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
userDf = pd.merge(userDf, countsDf, on='user_id')
userDf.head()

,user_id,label,gender,gpa,ARC,ART,BIB,BIO,BUS,CGN,...,SCI,SEL,SOC,SPO,STU,TEC,TRA,TRU,TRV,YAN
0,3187755,unknown,female,3.3,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,12609678,public administration and social service profe...,female,3.8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,41055794,biological and biomedical sciences,male,3.2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,8477334,unknown,female,3.4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1281279,unknown,female,3.5,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [12]:
genderMapping = {'male' : 1, 'female' : 0} #convert gender to binary value
userDf = userDf.replace({'gender':genderMapping})
userDf.head()

,user_id,label,gender,gpa,ARC,ART,BIB,BIO,BUS,CGN,...,SCI,SEL,SOC,SPO,STU,TEC,TRA,TRU,TRV,YAN
0,3187755,unknown,0,3.3,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,12609678,public administration and social service profe...,0,3.8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,41055794,biological and biomedical sciences,1,3.2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,8477334,unknown,0,3.4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1281279,unknown,0,3.5,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [13]:
userDf = userDf.set_index('user_id')
testDf = userDf[userDf.label=='unknown']
trainDf = userDf[userDf.label!='unknown']

In [14]:
trainDf.label.value_counts()

psychology                                              7009
education                                               6872
biological and biomedical sciences                      4417
social sciences                                         3922
public administration and social service professions    2345
visual and performing arts                              1788
personal and culinary services                           185
Name: label, dtype: int64

In [15]:
# baseline is the % of majority class
print("Baseline: {}%".format(len(trainDf[trainDf.label=='psychology'])/len(trainDf)*100))

Baseline: 26.41118396261964%

In [48]:
trainY = trainDf.label

# trainY = trainY.replace(labelMapping)
trainX = trainDf.drop(['label'], axis=1)
testX = testDf.drop(['label'], axis=1)
# trainX = trainX.as_matrix()

In [17]:
trainX

,gender,gpa,ARC,ART,BIB,BIO,BUS,CGN,CKB,COM,...,SCI,SEL,SOC,SPO,STU,TEC,TRA,TRU,TRV,YAN
user_id,,,,,,,,,,,,,,,,,,,,,
12609678,0,3.8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41055794,1,3.2,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
40112514,1,3.6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30860483,1,3.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40520146,1,3.3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4693027,0,3.2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13465898,0,3.3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35276680,1,2.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38664940,1,3.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40135650,1,3.4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22103068,1,3.1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12477240,1,2.1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40958542,1,2.1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12842658,0,3.7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14855059,0,3.6,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12120244,0,3.3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31956689,0,2.7,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4337527,0,3.3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40503910,1,3.5,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
40751236,1,2.9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40313488,1,3.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25439605,0,3.3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41241908,1,3.6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26589011,1,2.9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4468799,0,2.5,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
41257496,1,3.6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40412020,0,3.2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31190943,1,2.7,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9554614,0,3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40204818,1,3.8,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30470873,1,3.8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40506252,1,3.6,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
40130196,1,2.3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40891698,1,2.9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40567668,1,3.4,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
40029600,0,3.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
41321374,0,2.1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
14124640,0,2.1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31139507,0,3.6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40811552,1,3.6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41016602,1,3.1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22384206,0,3.1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2595351,0,2.8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12433334,0,3.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11086788,0,3.7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41292394,1,2.4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40593694,1,3.1,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
19946341,1,2.6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40233732,1,3.1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33122061,0,2.2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22557070,0,3.8,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
12422374,0,3.6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4046897,0,2.4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40891390,1,3.3,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
40322770,1,3.9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21752108,0,3.1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49969303,0,3.8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9028472,0,2.5,0,0,0,0,0,0,0,0,...,2,0,1,0,0,0,0,0,0,0
12176180,0,3.1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25475507,0,3.3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [25]:
train_samples, n_features = trainX.shape
n_classes = len(trainY.unique())

In [26]:
seed = 111
solver = 'saga'
scoring = 'accuracy'
models = {'ovr': {'name': 'One versus Rest'},
          'multinomial': {'name': 'Multinomial'}}

In [46]:
from sklearn.linear_model import LogisticRegression
from sklearn import cross_validation
lr = LogisticRegression(solver='liblinear',
                            multi_class='ovr',
                            C=1,
                            penalty='l1',
                            fit_intercept=True,
                            max_iter=500,
                            random_state=seed,
                            )
kfold = cross_validation.KFold(n=train_samples, n_folds=10, random_state=seed)
cv_results = cross_validation.cross_val_score(lr, trainX, trainY, cv=kfold, scoring=scoring, n_jobs=4)
print("Mean Accuracy: ", np.mean(cv_results))

print(cv_results)

Mean Accuracy:  0.4438171258824307
[0.44687265 0.45327807 0.45440844 0.42991711 0.41974378 0.45139412
 0.43519216 0.44084401 0.43686393 0.46965699]

In [49]:
lr.fit(trainX,trainY)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=500, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=111, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [51]:
 predicted = lr.predict(testX)

In [54]:
testX['label'] =  predicted

In [57]:
testX.label.value_counts()

education                                               9277
psychology                                              6781
biological and biomedical sciences                      4669
social sciences                                         4459
visual and performing arts                              1060
public administration and social service professions     151
personal and culinary services                            46
Name: label, dtype: int64

In [58]:
trainDf.label.value_counts()

psychology                                              7009
education                                               6872
biological and biomedical sciences                      4417
social sciences                                         3922
public administration and social service professions    2345
visual and performing arts                              1788
personal and culinary services                           185
Name: label, dtype: int64

In [82]:
df = pd.concat([trainDf,testX]).reset_index()

In [84]:
df = df[['user_id', 'label']]

In [93]:
#save file to csv
df[df.label.isin(['psychology', 'education', 'biological and biomedical sciences'])].to_csv("responce.csv")

In [86]:
coefficients = pd.concat([pd.DataFrame(trainX.columns), pd.DataFrame(np.transpose(lr.coef_))], axis = 1)

In [87]:
coefficients

,0,0,1,2,3,4,5,6
0,gender,0.187212,-0.097388,0.050927,-0.211325,-0.086270,0.309179,0.008374
1,gpa,0.036165,-0.003185,-0.021883,-0.016204,0.089424,-0.086317,-0.016439
2,ARC,-0.872593,-1.563784,0.000000,-1.586299,-1.144852,-0.037393,3.040580
3,ART,-0.369621,-0.116152,-0.141581,-0.621986,-0.914417,-0.575082,1.769007
4,BIB,0.000000,0.384239,0.000000,0.000000,0.000000,0.000000,-0.083257
5,BIO,-0.323226,0.000000,-0.304116,0.000000,-0.282680,0.507230,-0.436986
6,BUS,-0.617242,-0.460825,1.161994,-0.350615,0.027523,0.842388,0.102357
7,CGN,0.000000,-0.737855,0.000000,0.000000,-0.407272,0.485567,0.696003
8,CKB,-0.465402,-1.843980,4.904891,-0.575466,-0.407475,-0.175342,-0.273614
9,COM,-0.436318,-0.077509,0.094445,-0.237600,-0.083082,0.010390,0.882175
10,CRA,-0.138376,-0.641738,0.000000,-1.085040,0.000000,-0.345027,3.390608
11,CUR,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,DES,-2.152803,-0.560046,0.000000,-1.552202,-2.096234,-2.613269,3.573684
13,DRA,-0.081415,-0.100066,0.000000,0.041848,-0.311264,-0.165613,0.811405
14,EDU,-1.278920,1.375974,-1.433197,-0.186087,-0.596980,-0.908218,-1.658268
15,FAM,-1.415722,0.234541,0.000000,0.612386,-0.319136,-0.088708,-1.314309
16,FIC,-0.296479,0.335246,-0.892428,-0.058102,-0.451244,0.050480,-0.027667
17,FOR,0.071018,-0.120618,-0.954380,0.016583,-0.566969,0.313463,-0.100782
18,GAM,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,GAR,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,HEA,0.047998,0.233999,0.824110,-0.055212,-0.063135,-0.209332,-0.482621
21,HIS,-0.387941,0.306789,-0.624959,-0.223380,-0.478454,0.438110,-0.197371
22,HOM,-0.521599,0.000000,0.000000,-0.276281,0.000000,-0.315774,2.356474
23,HUM,0.701645,-0.113019,0.000000,0.000000,0.000000,0.000000,0.000000
24,JNF,-0.317102,0.837858,0.000000,-0.307486,-0.515504,-0.018642,-0.015334
25,JUV,-0.867077,1.386046,0.000000,-0.368001,-0.820122,-0.480127,-0.445823
26,LAN,-0.216155,0.431234,0.156606,-0.294730,-0.524549,-0.044840,0.186549
27,LAW,-1.099267,-0.754457,-0.563065,0.120787,-0.224132,1.319754,-0.999736
28,LCO,-0.337109,0.584727,-1.150805,-0.171211,-0.378708,-0.107150,-0.060404
29,LIT,0.000000,0.578625,-0.313593,-0.273141,-0.873253,-0.293032,0.027314
30,MAT,0.440178,0.100422,-0.245800,-0.283662,-0.673216,-0.008536,-0.209677
31,MED,1.033719,-0.711083,-0.099102,0.046713,-0.092270,-0.697225,-1.120574
32,MUS,-0.772989,0.358503,-1.081613,-0.361308,-0.798360,-0.207848,1.136837
33,NAT,0.726846,-0.075237,0.000000,-0.426347,-0.337728,0.000000,-0.155432
34,NON,-0.267224,0.092116,0.000000,0.000000,0.000000,0.000000,0.000000
35,OCC,-0.415781,-0.464891,0.000000,0.231682,0.000000,0.308592,0.000000
36,PER,-0.530666,-0.419643,-0.268094,-0.080236,-0.624755,0.043278,1.340641
37,PET,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38,PHI,-0.008338,-0.430081,-0.428134,0.191560,-0.267147,0.302667,0.003431
39,PHO,-0.883050,-1.065321,-0.212040,-0.418563,-0.273111,-0.480909,2.500467
40,POE,0.206229,0.119235,0.000000,-0.001527,-0.605901,-0.005674,-0.023878
41,POL,-0.990549,-0.749803,-1.259396,-0.524454,1.024083,1.019162,-0.872276
42,PSY,-0.825997,-0.795986,-1.318942,1.409412,-0.077115,-0.773781,-1.359925
43,REF,-0.157685,0.346234,0.577160,-0.087394,-0.424529,-0.497505,0.349687
44,REL,-0.064415,-0.290820,-1.448853,0.343650,-0.306996,0.126965,-0.171404
45,SCI,1.428263,-0.446867,-0.443168,-0.486491,-1.062284,-0.534443,-0.816381
46,SEL,-0.873420,-0.715206,0.000000,1.214450,0.087094,-0.455707,-0.308308
47,SOC,-0.882358,-0.786880,-1.546698,0.017653,0.838256,0.691997,-0.654343
48,SPO,0.051562,0.380931,0.000000,-0.032331,-1.049179,0.000000,-0.346209
49,STU,0.505806,-0.147500,0.000000,0.154406,-0.033883,0.000000,-1.509892
50,TEC,0.261197,-0.035695,0.508412,-0.358273,-0.346034,-0.100193,0.499775
51,TRA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
52,TRU,0.000000,0.000000,0.000000,-0.412520,0.000000,0.723994,0.000000
53,TRV,-0.087927,0.046762,0.000000,-0.449144,0.000000,0.000000,0.322761
54,YAN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000